.login-page {
  height: 100vh;
  padding-top: 180px;
}

.form-signin-heading {
  text-align: center;
  font-size: 3rem;
  color: #00796B;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 25px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
}

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

  .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
    padding: 10px;
		z-index: 2;
  }
