.backgroundBasket {
  background-image: url('/img/basket/cancha.png');
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -5;
}
.objects {
  position: absolute;
  left: 0;
  right: 0;
}

.ball {
  display: flex;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 140vw;
  left: 42vw;
  height: 10vh;
}

.canasta {
  display: flex;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  left: 41vw;
  height: 6vh;
  top: 32vw;
}

.canastaPoint {
  display: flex;
  margin: 0 auto;
  z-index: +99;
  position: absolute;
  left: 41vw;
  height: 6vh;
  top: 32vw;
}

.ballNice{
  animation-name: ballNice;
  animation-duration: 3s;
  }

@keyframes ballNice {
  0% { top: 140vw; }
  40% {top: 10vw; height: 5vh}
  55% {top: 40vw; height: 4vh; left: 43vw}
  90% {top: 90vw; height: 4vh; left: 43vw}
  100% {top: 90vw; height: 4vh; left: 43vw}
}

.ballAwryLeft{
  animation-name: ballAwryLeft;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  }

@keyframes ballAwryLeft {
  0% { top: 140vw; }
  70% {top: 26vw; height: 4vh; left: 37vw}
  100% {top: 40vw; height: 4vh; left: 0vw}
}

.ballAwryCenter{
  animation-name: ballAwryCenter;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  }

@keyframes ballAwryCenter {
  0% { top: 140vw; }
  60% {top: 18vw; height: 4vh;}
  100% {top: 18vw; height: 20vh;}
}

.desktopBackgroundBasket {
  background-image: url('/img/basket/curryDesktop.png');
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 40vh;
  font-size: 1.5em;
  font-weight: bold
}

.flexbox-container > div {
	width: 50%;
  color: #fff;
  top: 20%;
}

