html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuadrado {
  display: flex;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  bottom: 12.5vh;
  left: 45.2vw;
  width: 3vw;
}

.bell {
  display: flex;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  left: 36.8vw;
  bottom: 63vh;
  height: 12vh;
}

.topHit{
  animation-name: topHit;
  animation-duration: 2s;
  }

@keyframes topHit {
  0% { bottom: 12.5%; }
  60% { bottom: 40vw; }
  60.1% {bottom: 39vw}
  100% {bottom: 12.5%}
}

.power80Hit{
  animation-name: power80Hit;
  animation-duration: 2s;
  }

@keyframes power80Hit {
  0% { bottom: 12.5%; }
  60% { bottom: 33vw; }
  60.1% {bottom: 32vw}
  100% {bottom: 12.5%}
}

.power60Hit{
  animation-name: power60Hit;
  animation-duration: 2s;
  }

@keyframes power60Hit {
  0% { bottom: 12.5%; }
  60% { bottom: 27vw; }
  60.1% {bottom: 26vw}
  100% {bottom: 12.5%}
}

.power40Hit{
  animation-name: power40Hit;
  animation-duration: 2s;
  }

@keyframes power40Hit {
  0% { bottom: 12.5%; }
  60% { bottom: 22vw; }
  60.1% {bottom: 21vw}
  100% {bottom: 12.5%}
}

.bellAnimation {
  animation-name: bell-resizing;
  animation-duration: 1s;
  animation-iteration-count: 1;
  }

@keyframes bell-resizing {
  0% {height: 9vw; width: 9vw; left: 44.3%}
  90% {height: 9vw; width: 9vw; left: 44.3%}
  93% {height: 13vw; width: 13vw; left: 43%}
  94% {height: 9vw; width: 9vw; left: 44.3%}
  97% {height: 13vw; width: 13vw; left: 43%}
  100% {height: 9vw; width: 9vw; left: 44.3%}
}

.fair{
  z-index: -1;
  position: relative;
  height: 100vh;
  max-width: 100vw;
  object-fit: cover;
}

.fairBackground{
  position: absolute;
  z-index: -3;
  display: flex;
  /* bottom: 0.1vw;
  left: 19vw; */
  width: 100vw;
  
}

.objects {
  position: absolute;
  left: 0;
  right: 0;
}

.background {
  background-image: url('/img/fondoFair.png');
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -5;
}