html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuadrado {
  display: flex;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  margin-bottom: 10%;
  bottom: 0%;
  left: 47.8%;
}

.fairAnimation{
  animation-name: infinite-spinning;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  }

@keyframes infinite-spinning {
  from {
    bottom: 0;
  }
  to {
    bottom: 430px;
  }
}

.feria{
  z-index: -1;
}